<html>
  <head>
	<title>Login | Alpha Plans</title>
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/admin/css/base.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/admin/css/login.css" />

    <!-- Fav-icon -->
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/icon.png">
	
  </head>
  
  <body class="login">
  <div id="container">
    
    <div id="content" class="colM" style="background: #FFF1E0; text-align: center">

        <img src="{{ STATIC_URL }}img/logo.png" />

		<div id="content-main">
			<form action="/accounts/login/" method="post" id="login-form"><div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="dlNNu3rdbfkphO3isRbqSDSccKK0rlYr"></div>
			  {% csrf_token %}
			  
			  <div class="form-row">
			    <label for="id_username" class="required">Username:</label>
			    <input id="id_username" type="text" name="username" maxlength="30" />
			  </div>
			  <div class="form-row">
			    <label for="id_password" class="required">Password:</label> <input type="password" name="password" id="id_password">
			    <input type="hidden" name="this_is_the_login_form" value="1">
			  </div>
			  
			  <input type="hidden" name="next" value="/">
			  
			  <div class="submit-row">
			    <label>&nbsp;</label><input type="submit" value="Log in">
			  </div>
			</form>
		</div>
		
		<br class="clear">
	</div>
	
  </body>

</html>