body {
	padding-top: 40px;
	padding-bottom: 60px;
    background-color: #FCF9EB;
}

.axis path,
.axis line {
  fill: none;
  stroke: #BBB;
  shape-rendering: crispEdges;
}

.tick line {
    stroke: #BBB;
}

.area {
    fill: #acd372;
    stroke: #3bb878;
}

.line {
  fill: none;
  stroke: #3bb878;
  stroke-width: 2px;
}

.loading {
    clear: both;
    text-align: center;
}

#simulation_section .benchmark {
    clear: both;
}

#simulation_section .performance table td, #simulation_section .performance table th {
    font-size: 80%;
    text-align: center;
}

#simulation_section .performance table td {
    border: 1px dotted #E7D3B0;
}

#simulation_section .performance .border-left {
    border-left: 1px solid #E7D3B0;
}

#simulation_section .performance table {
    border: 1px solid #E7D3B0;
}

#simulation_section .performance table th {
    width: 48px;
    border-bottom: 1px solid #E7D3B0;
    border-left: 1px dotted #E7D3B0;
}

.tag-cloud {
    margin: auto;
    width: 600px;
}

.navbar-inverse .nav > li > a:hover {
    color: black;
 }

body > .navbar .brand:hover {
    color: black;
}

.navbar-inverse .navbar-inner {
    background: #FFF1E0;
}

header {
    background-color: orange;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.no-bottom-border {
    border-bottom: 0px;
}

body .navbar .nav > li > a.active {
    font-weight: bold;
    color: white;
    background-color: orange;
}

body > .navbar .brand {
    color: #777;
}


#simulation_section .legend {
    font-size: 90%;
}

#simulation_section .legend .title{
    font-weight: bold;
}

#simulation_section .time {
    font-size: 80%;
}

.tooltip {
    font-size: 80%;
}

#simulation_section .composition {
    width: 800px;
    clear: both;
}
.current-composition, .historical-composition {
    width: 400px;
    float: left;
}

.arc path {
  stroke: #fff;
}

#simulation_section .historical-composition .time {
    width: 200px;
    padding: 0px;
}

#simulation_section .time svg{
    padding: 0px;
}

#simulation_section .weights {
    clear: both;
    padding-top: 10px;
}

#simulation_section .legend {
    padding-top: 12px;
    width: 180px;
    height: 100px;
    float: right;
}

#simulation_section .years li {
    padding-top: 23px;
    padding-bottom: 22px;
    font-size: 80%;
}

#simulation_section .weights .columns {
    width: 800px;
    float: left;
}

#simulation_section .distribution {
    width: 760px;
}

#simulation_section .years {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 34px;
    float: left;
    border-right: 1px solid #E7D3B0;
}

#simulation_section .months {
    text-align: center;
    margin: 0px;
    margin-left: 34px;
    width: 800px;
}

#simulation_section .months li {
    list-style: none;
    float: left;
    width: 60px;
    font-weight: bold;
    font-size: 80%;
    border-bottom: 1px solid #E7D3B0;
}

.statistics {
    width: 800px;
    clear: both;
}

.statistics table {
    border: 0px;
    width: 383px;
}

.statistics table td {
    padding-left: 10px;
    padding-right: 10px;
}

.statistics .first-col-stats {
    float: left;
    margin-top: 0px;
    border-right: 1px solid #E7D3B0;
}

.statistics .second-col-stats {
    float: left;
    border-left: 0px;
}

.statistics thead .name {
    width: 200px;
}

.statistics thead .value {
    width: 50px;
}

.performance {
    clear: both;
    padding-top: 12px;
    width: 800px;
}

.center {
    text-align: center;
}

.statistics table .name {
    font-weight: bold;
}

.statistics table .value {
    text-align: center;
}

.statistics tbody tr {
    height: 10px;
}

svg {
  padding: 10px 0 0 10px;
}

.add_positions {
    margin-right: 35px;
    padding-top: 25px;
}

.box{
    margin: 20px; padding: 15px;
    background: #eee;
    height: 500px;
}

.datepicker-label, .buttons-bar-label {
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	padding-right: 5px;
}

#datepicker:hover {
    cursor: pointer;
}

.funds a:hover {
    text-decoration: none;
    color: #08C;
}

#datepicker {
    background-color: white;
}

.view-selector {
    text-align: left
}

.view-selector input {
    margin-bottom: 0;
}

.favorite:hover {
	cursor: pointer;
}

.jumbotron::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(/static/img/bs-docs-masthead-pattern.png) repeat center center;
	opacity: .4;
}

.jumbotron {
	position: relative;
	padding: 5px 0;
	color: white;
	text-align: left;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	background: #020031;
	background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6D3353));
	background: -webkit-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: -o-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: -ms-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: linear-gradient(45deg, #020031 0%,#6D3353 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.funds {
	padding-top: 20px;
}

.no-padding {
	padding: 0px;
}

.navbar a.logo {
    padding: 0px;
    float: left;
    padding-right: 30px;
}

.navbar a.logo img {
    height: 40px;
}

.btn-group .threshold:hover {
	cursor: pointer
}

.btn-group .threshold {
  width: 35px;
  margin-bottom: 0px;
}

div .buttons-bar {
	text-align: right;
	margin-right: 25px;
    padding-top: 10px;
}

div .padding-right {
	padding-right: 10px;
}

div .padding-left {
	padding-left: 10px;
}

span.comparator {
	font-weight: bold;
}

th.right-border, td.right-border {
	border-right: 1px solid #DDDDDD;
}

th.top-border, td.top-border {
	border-top: 1px solid #DDDDDD;
}

a.logout {
    float: right;
    padding-right: 25px;
    padding-top: 10px;
    text-decoration: none;
}

.green {
	color: green;
}

.red {
	color: red;
}

th.ordered_column {
	cursor: pointer;
}

th.ordered_column:hover {
	color:#000000;
	background: #EEF5A6;
}

.text-left {
	text-align: left;
}

.date-message {
	padding-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

.date-value {
	color: #08C;
}

.funds th {
	color: #777777;
}

.funds .selected {
	color: #000000;
	background: #EEF5A6;
}

.funds tbody tr:hover {
	background: #EEF5A6;
}

.funds table {
    table-layout:fixed;
    width:98%;
}

p.lead {
	margin-bottom: 5px;
	margin-top: 3px;
}

h1.leader {
	margin: 0px;
}

.section {
	padding-top: 15px;
	padding-bottom: 5px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

input.weight-input {
    border: 0;
    width: 45%;
    text-align: center;
    background: transparent;
    cursor: default;
}

input.weight-input:hover{
    background: #FFFFFF;
}

input.weight-input:hover, input.weight-input:focus{
    background: #FFFFFF;
}
