<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Alpha Plans{% endblock %}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/date.js"></script>
  
  <!-- Bootstrap -->
  <script src="{{ STATIC_URL }}js/knockout-2.2.0.js"></script>

  <!-- Chart.js -->
  <script src="{{ STATIC_URL }}js/chartjs/Chart.bundle.min.js"></script>
  
  <!-- ViewModels -->
  <script src="{{ STATIC_URL }}js/viewmodels/screener.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/favorites.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/simulation.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/ranking.js"></script>
  
  <!-- Models -->
  <script src="{{ STATIC_URL }}js/viewmodels/models/portfolio_metric.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/models/position.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/models/funds.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/models/search_param.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/models/monthly_result.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/models/stat.js"></script>
  <script src="{{ STATIC_URL }}js/viewmodels/models/ranking.js"></script>
  
  <script>
	  $(function() {
			var view_model = new {{viewmodel}}_ViewModel();
			
		    ko.applyBindings(view_model);
		});
  </script>
  
  
  <script src="{{ STATIC_URL }}/js/bootstrap/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}/js/bootstrap/sidebar-affix.js"></script>
  
  <!-- Bootstrap -->
  
  <link href="{{ STATIC_URL }}css/bootstrap.css"            rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/docs.css"                 rel="stylesheet">
  <link href="{{ STATIC_URL }}css/datepicker.css"           rel="stylesheet">

  <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">

  <!-- Fav-icon -->
  <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/icon.png">
  
  {% block extra_header %}{% endblock %}

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" >

	<!--  NAV BAR -->

	<div class="navbar navbar-inverse navbar-fixed-top" id="nabvar">
      <div class="navbar-inner no-bottom-border">
        <div class="container">

          <a class="logo" href="/"><img src="{{ STATIC_URL }}img/logo.png" /></a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="{% if active == 'simulation' %}active{% endif %}" href="/simulation">Simulation</a></li>
              <li><a class="{% if active == 'favorites' %}active{% endif %}" href="/portfolios">Favorites</a></li>
              <li><a class="{% if active == 'screener'   %}active{% endif %}" href="/screener">Screener</a></li>
              <li><a class="{% if active == 'ranking'   %}active{% endif %}" href="/ranking">Ranking</a></li>
            </ul>
          </div>

          <a class="logout" href="/logout">logout</a>
        </div>
      </div>
    </div>

    <div class="container">
    	{% block content %}{% endblock %}
    </div>
    
</body>
</html>