{% extends "base.html" %}

{% block title %}Portfolio | Alpha Plans{% endblock %}

{% block content %}

<!-- PORTFOLIO -->
	<div class="row section">
		<div class="buttons-bar">

            <ul class="nav nav-pills span6 no-margin-bottom">
                <li class="active"><a href="#" data-bind="click: changeSection" class="text-left" data-code="mngt">Management</a></li>
                <li><a href="#" data-bind="click: changeSection" class="text-left" data-code="short">Short-term analysis</a></li>
                <li><a href="#" data-bind="click: changeSection" class="text-left" data-code="mid">Mid-term analysis</a></li>
            </ul>

			<span>
			  <input type="text" data-bind="value:money" class="input-small search-query"/>
			  <input  type="text"   data-bind="value:isin, valueUpdate: ['afterkeydown', 'afterpaste']" class="input-medium search-query">
			  <button type="submit" data-bind="click:addByISIN, enable: availableIsin" class="btn">Add ISIN</button>
			</span>
		</div>
    
	  	<div data-bind="visible: section_code() == 'mid'" class="funds span12 no-padding">
	        <h3>Mid-term analysis</h3>
            <table>
                <h4>Favorites</h4>
				<thead>
					<tr>
						<th width="35%" align="left">Name</th>

                        <th width="5%" align="center">% 3m</th>
                        <th width="5%" align="center">% 6m</th>
                        <th width="5%" align="center" class="right-border">% 1y</th>

                        <th width="5%" align="center">Vol 3m</th>
                        <th width="5%" align="center">Vol 6m</th>
                        <th width="5%" align="center" class="right-border">Vol 1y</th>

                        <th width="5%" align="center">SR 3m</th>
                        <th width="5%" align="center">SR 6m</th>
                        <th width="5%" align="center">SR 1y</th>

                        <th width="4%" align="right"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: favorite_funds">
					<tr>
						<td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

                        <td data-bind="css: perfCss('performance_3m',  ''), text: percentage('performance_3m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_6m',  ''), text: percentage('performance_6m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_1y',  'right-border'), text: percentage('performance_1y')" align="center"></td>

                        <td data-bind="css: volCss('volatility_3m', ''), text: percentage('volatility_3m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_6m', ''), text: percentage('volatility_6m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_1y', 'right-border'), text: percentage('volatility_1y')" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_3m', ''),  text: sharpe_3m"  align="center"></td>
                        <td data-bind="css: riskCss('sharpe_6m', ''),  text: sharpe_6m"  align="center"></td>
                        <td data-bind="css: riskCss('sharpe_1y', ''),  text: sharpe_1y"  align="center"></td>

						<td data-bind="click:delFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/marked_star.png" /></td>
				    </tr>
				</tbody>
			</table>
            <table>
                <h4>Portfolio</h4>
				<thead>
					<tr>
						<th width="35%" align="left">Name</th>

                        <th width="5%" align="center">% 3m</th>
                        <th width="5%" align="center">% 6m</th>
                        <th width="5%" align="center" class="right-border">% 1y</th>

                        <th width="5%" align="center">Vol 3m</th>
                        <th width="5%" align="center">Vol 6m</th>
                        <th width="5%" align="center" class="right-border">Vol 1y</th>

                        <th width="5%" align="center">SR 3m</th>
                        <th width="5%" align="center">SR 6m</th>
                        <th width="5%" align="center">SR 1y</th>

                        <th width="4%" align="right"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: portfolio_funds">
					<tr>
						<td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

                        <td data-bind="css: perfCss('performance_3m',  ''), text: percentage('performance_3m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_6m',  ''), text: percentage('performance_6m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_1y',  'right-border'), text: percentage('performance_1y')" align="center"></td>

                        <td data-bind="css: volCss('volatility_3m', ''), text: percentage('volatility_3m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_6m', ''), text: percentage('volatility_6m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_1y', 'right-border'), text: percentage('volatility_1y')" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_3m', ''),  text: sharpe_3m"  align="center"></td>
                        <td data-bind="css: riskCss('sharpe_6m', ''),  text: sharpe_6m"  align="center"></td>
                        <td data-bind="css: riskCss('sharpe_1y', ''),  text: sharpe_1y"  align="center"></td>

						<td data-bind="click:delFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/marked_star.png" /></td>
				    </tr>
				</tbody>
                <tbody data-bind="foreach: portfolio_metrics">
					<tr style="font-weight: bold">
						<td align="left"></td>

                        <td data-bind="text: performance_3m" align="center"></td>
                        <td data-bind="text: performance_6m" align="center"></td>
                        <td data-bind="text: performance_1y" align="center"></td>

                        <td align="center"></td>
                        <td align="center"></td>
                        <td data-bind="text: volatility" align="center"></td>

                        <td data-bind="text: sharpe_3m" align="center"></td>
                        <td data-bind="text: sharpe_6m" align="center"></td>
                        <td data-bind="text: sharpe_1y" align="center"></td>

						<td align="right"></td>
				    </tr>
				</tbody>
			</table>
        </div>

        <div data-bind="visible: section_code() == 'short'" class="funds span12 no-padding">
	        <h3>Short-term analysis</h3>
            <table>
                <h4>Favorites</h4>
				<thead>
					<tr>
                        <th width="35%" align="left">Name</th>

                        <th width="5%" align="center">% 1w</th>
                        <th width="5%" align="center">% 2w</th>
                        <th width="5%" align="center">% 1m</th>
                        <th width="5%" align="center" class="right-border">% 3m</th>

                        <th width="5%" align="center">Vol 1m</th>
                        <th width="5%" align="center" class="right-border">Vol 3m</th>

                        <th width="5%" align="center">SR 1m</th>
                        <th width="5%" align="center">SR 3m</th>

						<th width="4%" align="right"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: favorite_funds">
					<tr>
						<td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

                        <td data-bind="css: perfCss('performance_1w', ''),  text: percentage('performance_1w')" align="center"></td>
                        <td data-bind="css: perfCss('performance_2w', ''),  text: percentage('performance_2w')" align="center"></td>
                        <td data-bind="css: perfCss('performance_1m', ''),             text: percentage('performance_1m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_3m', 'right-border'), text: percentage('performance_3m')" align="center"></td>

                        <td data-bind="css: volCss('volatility_1m', ''),             text: percentage('volatility_1m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_3m', 'right-border'), text: percentage('volatility_3m')" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_1m',    ''), text: sharpe_1m" align="center"></td>
                        <td data-bind="css: riskCss('sharpe_3m',    ''), text: sharpe_3m" align="center"></td>

						<td data-bind="click:delFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/marked_star.png" /></td>
				    </tr>
				</tbody>
			</table>
            <table>
                <h4>Portfolio</h4>
				<thead>
					<tr>
						<th width="35%" align="left">Name</th>

                        <th width="5%" align="center">% 1w</th>
                        <th width="5%" align="center">% 2w</th>
                        <th width="5%" align="center">% 1m</th>
                        <th width="5%" align="center" class="right-border">% 3m</th>

                        <th width="5%" align="center">Vol 1m</th>
                        <th width="5%" align="center" class="right-border">Vol 3m</th>

                        <th width="5%" align="center">SR 1m</th>
                        <th width="5%" align="center">SR 3m</th>

						<th width="4%" align="right"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: portfolio_funds">
					<tr>
						<td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

                        <td data-bind="css: perfCss('performance_1w', ''),  text: percentage('performance_1w')" align="center"></td>
                        <td data-bind="css: perfCss('performance_2w', ''),  text: percentage('performance_2w')" align="center"></td>
                        <td data-bind="css: perfCss('performance_1m', ''),             text: percentage('performance_1m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_3m', 'right-border'), text: percentage('performance_3m')" align="center"></td>

                        <td data-bind="css: volCss('volatility_1m', ''),             text: percentage('volatility_1m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_3m', 'right-border'), text: percentage('volatility_3m')" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_1m',    ''), text: sharpe_1m" align="center"></td>
                        <td data-bind="css: riskCss('sharpe_3m',    ''), text: sharpe_3m" align="center"></td>

						<td data-bind="click:delFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/marked_star.png" /></td>
				    </tr>
				</tbody>
                <tbody data-bind="foreach: portfolio_metrics">
					<tr style="font-weight: bold">
						<td align="left"></td>

                        <td data-bind="text: performance_1w" align="center"></td>
                        <td data-bind="text: performance_2w" align="center"></td>
                        <td data-bind="text: performance_1m" align="center"></td>
                        <td data-bind="text: performance_3m" align="center"></td>

                        <td align="center"></td>
                        <td align="center"></td>

                        <td data-bind="text: sharpe_1m" align="center"></td>
                        <td data-bind="text: sharpe_3m" align="center"></td>

						<td align="right"></td>
				    </tr>
				</tbody>

			</table>
	    </div>
        <div data-bind="visible: section_code() == 'mngt'" class="funds span12 no-padding">
	        <h3>Management</h3>
                <div class="equity_curve">
                    <canvas id="equity_canvas"></canvas>
                </div>
            <table>
                <h4>Portfolio</h4>
				<thead>
					<tr>
						<th width="40%" align="left">Name</th>

                        <th width="7%" align="center">Weight (%)</th>
                        <th width="5%" align="center">β (6m)</th>
                        <th width="6%" align="center">Cor (6m)</th>
                        <th width="6%" align="center">Vol (1y)</th>

                        <th width="6%" align="center">% 1m</th>
                        <th width="6%" align="center">% 3m</th>
                        <th width="6%" align="center">% 6m</th>
                        <th width="6%" align="center">% YTD</th>

                        <th width="5%" align="center">SR 6m</th>
                        <th width="5%" align="center">SR 1y</th>

                        <th width="4%" align="right"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: portfolio_funds">
					<tr class="weights">
                        <td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

                        <td align="center"><input data-bind="value: saveWeight(weight), css: 'weight-input'" /></td>
                        <td data-bind="css: betaCss('beta_6m', ''),  text: beta_6m" align="center"></td>
                        <td data-bind="css: corCss('corr_6m', ''),  text: corr_6m" align="center"></td>
                        <td class="right-border" data-bind="css: volCss('volatility_6m', ''),  text: percentage('volatility_6m')" align="center"></td>

                        <td data-bind="css: perfCss('performance_1m'), text: percentage('performance_1m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_3m'), text: percentage('performance_3m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_6m'), text: percentage('performance_6m')" align="center"></td>
                        <td class="right-border" data-bind="css: perfCss('performance_ytd', ''),  text: percentage('performance_ytd')" class="right-border" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_6m'), text: sharpe_6m" align="center"></td>
                        <td data-bind="css: riskCss('sharpe_1y'), text: sharpe_1y" align="center"></td>

						<td data-bind="click:delFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/marked_star.png" /></td>
				    </tr>
				</tbody>
                <tbody data-bind="foreach: portfolio_metrics">
					<tr style="font-weight: bold">
						<td align="left"></td>

                        <td class="top-border" data-bind="text: weight" align="center"></td>
                        <td class="top-border" data-bind="text: beta" align="center"></td>
                        <td class="top-border" data-bind="text: corr" align="center"></td>
                        <td class="top-border" data-bind="text: volatility" align="center"></td>

                        <td class="top-border" data-bind="text: performance_1m" align="center"></td>
                        <td class="top-border" data-bind="text: performance_3m" align="center"></td>
                        <td class="top-border" data-bind="text: performance_6m" align="center"></td>
                        <td class="top-border" data-bind="text: performance_ytd" align="center"></td>

                        <td class="top-border" data-bind="text: sharpe_6m" align="center"></td>
                        <td class="top-border" data-bind="text: sharpe_1y" align="center"></td>

						<td align="right" class="favorite"></td>
				    </tr>
				</tbody>
            </table>
            <table>
                <h4>Favorites</h4>
				<thead>
					<tr>
						<th width="40%" align="left">Name</th>

                        <th width="7%" align="center">Weight (%)</th>
                        <th width="5%" align="center">β (6m)</th>
                        <th width="6%" align="center">Cor (6m)</th>
                        <th width="6%" align="center">Vol (1y)</th>

                        <th width="6%" align="center">% 1m</th>
                        <th width="6%" align="center">% 3m</th>
                        <th width="6%" align="center">% 6m</th>
                        <th width="6%" align="center">% YTD</th>

                        <th width="5%" align="center">SR 6m</th>
                        <th width="5%" align="center">SR 1y</th>

                        <th width="4%" align="right"></th>
					</tr>
				</thead>
                <tbody data-bind="foreach: favorite_funds">
					<tr>
						<td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

                        <td align="center"><input data-bind="value: saveWeight(weight), css: 'weight-input'" /></td>
                        <td data-bind="css: betaCss('beta_6m', ''),  text: beta_6m" align="center"></td>
                        <td data-bind="css: corCss('corr_6m', ''),  text: corr_6m" align="center"></td>
                        <td class="right-border" data-bind="css: volCss('volatility_6m', ''),  text: percentage('volatility_6m')" align="center"></td>

                        <td data-bind="css: perfCss('performance_1m'), text: percentage('performance_1m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_3m'), text: percentage('performance_3m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_6m'), text: percentage('performance_6m')" align="center"></td>
                        <td class="right-border" data-bind="css: perfCss('performance_ytd', ''),  text: percentage('performance_ytd')" class="right-border" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_6m'), text: sharpe_6m" align="center"></td>
                        <td data-bind="css: riskCss('sharpe_1y'), text: sharpe_1y" align="center"></td>

						<td data-bind="click:delFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/marked_star.png" /></td>
				    </tr>
				</tbody>
			</table>
	    </div>
    </div>
{% endblock %}


