{% extends "base.html" %}

{% block title %}Ranking | Alpha Plans{% endblock %}

{% block content %}
	<!-- SCREENER -->
	
	<div class="row section">

		<div class="buttons-bar">

            <div data-bind="with: category" class="btn-group padding-right">
                <button data-bind="text: name" class="btn btn-primary"></button>

                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul data-bind="foreach: $root.categories" class="dropdown-menu">
                    <li><a href="#" data-bind="click: changeCategory, text: name" class="text-left"></a></li>
                </ul>
            </div>

            <div data-bind="with: currency" class="btn-group padding-right">
                <button data-bind="text: name" class="btn btn-primary"></button>

                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul data-bind="foreach: $root.currencies" class="dropdown-menu">
                    <li><a href="#" data-bind="click: changeCurrency, text: name" class="text-left"></a></li>
                </ul>
            </div>

        </div>

	
		<div data-bind="visible: section_code() == 'ranking'" class="funds span12 no-padding">

            <h3>Ranking</h3>

            <table>
                <thead>
                <tr>
                    <th width="40%" align="left">Name</th>

                    <th width="10%" align="center">Ranking</th>
                    <th width="10%" align="center">% 6m</th>
                    <th width="10%" align="center">6m MA</th>
                    <th width="10%" align="center">3m MA</th>

                    <th width="10%" align="center">Sharpe Ratio</th>
                    <th width="10%" align="center">Volatility</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: rankings">
                <tr>
                    <td align="left"><a data-bind="attr: {href: url}, text:name" target="_blank"></a></td>

                    <td data-bind="text: ranking" align="center"></td>
                    <td data-bind="text: percentage(ret)" align="center"></td>
                    <td data-bind="text: percentage(mom_cur)" align="center"></td>
                    <td data-bind="text: percentage(mom_prev)" align="center"></td>

                    <td data-bind="text: sr" align="center"></td>
                    <td data-bind="text: percentage(vol)" align="center"></td>
                </tr>
                </tbody>
            </table>
		</div>
	</div>
{% endblock %}


