{% extends "base.html" %}

{% block title %}Screener | Alpha Plans{% endblock %}

{% block extra_header %}
    <script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.layout.cloud.js"></script>
{% endblock %}

{% block content %}
	<!-- SCREENER -->
	
	<div class="row section">

		<div class="buttons-bar">

            <ul class="nav nav-pills span4 no-margin-bottom">
              <li class="active"><a href="#" data-bind="click: changeSection" class="text-left" data-code="short">Short-term analysis</a></li>
              <li><a href="#" data-bind="click: changeSection" class="text-left" data-code="mid">Mid-term analysis</a></li>
            </ul>

            <div data-bind="with: category" class="btn-group padding-right">
                <button data-bind="text: name" class="btn btn-primary"></button>

                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul data-bind="foreach: $root.categories" class="dropdown-menu">
                    <li><a href="#" data-bind="click: changeCategory, text: name" class="text-left"></a></li>
                </ul>
            </div>

            <div data-bind="with: currency" class="btn-group padding-right">
                <button data-bind="text: name" class="btn btn-primary"></button>

                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul data-bind="foreach: $root.currencies" class="dropdown-menu">
                    <li><a href="#" data-bind="click: changeCurrency, text: name" class="text-left"></a></li>
                </ul>
            </div>

            <div data-bind="with: rule" class="btn-group">
                <button data-bind="text: name" class="btn btn-primary"></button>

                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul data-bind="foreach: $root.rules" class="dropdown-menu">
                    <li><a href="#" data-bind="click: changeRule, text: name" class="text-left"></a></li>
                </ul>
            </div>

        </div>

        <div class="tag-cloud">

        </div>

	
		<div data-bind="visible: section_code() == 'mid'" class="funds span12 no-padding">

            <h3>Mid-term analysis</h3>

			<table>
				<thead>
					<tr>
						<th width="30%" align="left">Name</th>

						<th width="6%" align="center" data-bind="click: changeOrderBy" data-code="performance_6m" data-direction="-" class="ordered_column">% 6m</th>
                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="performance_9m" data-direction="-" class="ordered_column">% 9m</th>
                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="performance_12m" data-direction="-" class="ordered_column right-border">% 1y</th>

						<th width="6%" align="center" data-bind="click: changeOrderBy" data-code="volatility_6m" data-direction="+" class="ordered_column">Vol 6m</th>
						<th width="6%" align="center" data-bind="click: changeOrderBy" data-code="volatility_9m" data-direction="+" class="ordered_column">Vol 9m</th>
                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="volatility_12m" data-direction="+" class="ordered_column right-border">Vol 1y</th>

                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="sharpe_6m"  data-direction="-" class="ordered_column selected">SR 6m</th>
                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="sharpe_9m"  data-direction="-" class="ordered_column">SR 9m</th>
                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="sharpe_12m" data-direction="-" class="ordered_column">SR 1y</th>
						
						<th width="4%" align="right"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: funds">
					<tr>	
						<td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

						<td data-bind="css: perfCss('performance_6m',  ''), text: percentage('performance_6m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_9m',  ''), text: percentage('performance_9m')" align="center"></td>
                        <td data-bind="css: perfCss('performance_1y',  'right-border'), text: percentage('performance_1y')" align="center"></td>

						<td data-bind="css: volCss('volatility_6m', ''), text: percentage('volatility_6m')" align="center"></td>
						<td data-bind="css: volCss('volatility_9m', ''), text: percentage('volatility_9m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_1y', 'right-border'), text: percentage('volatility_1y')" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_6m', ''),  text: sharpe_6m"  align="center"></td>
                        <td data-bind="css: riskCss('sharpe_9m', ''),  text: sharpe_9m"  align="center"></td>
                        <td data-bind="css: riskCss('sharpe_1y', ''),  text: sharpe_1y"  align="center"></td>
						
						<td data-bind="click:addFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/star.png" /></td>
				    </tr>   
				</tbody>
			</table>
		</div>

        <div data-bind="visible: section_code() == 'short'" class="funds span12 no-padding">

            <h3>Short-term analysis</h3>

			<table>
				<thead>
					<tr>
						<th width="30%" align="left">Name</th>

                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="beta_6m" data-direction="+" class="ordered_column">β (6m)</th>
						<th width="6%" align="center" data-bind="click: changeOrderBy" data-code="corr_6m" data-direction="+" class="ordered_column right-border">Cor (6m)</th>

						<th width="6%" align="center" data-bind="click: changeOrderBy" data-code="performance_1m" data-direction="-" class="ordered_column">% 1m</th>
						<th width="6%" align="center" data-bind="click: changeOrderBy" data-code="performance_3m" data-direction="-" class="ordered_column right-border">% 3m</th>

                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="volatility_1m"  data-direction="+" class="ordered_column">Vol 1m</th>
                        <th width="6%" align="center" data-bind="click: changeOrderBy" data-code="volatility_3m"  data-direction="+" class="ordered_column right-border">Vol 3m</th>

                        <th width="5%" align="center" data-bind="click: changeOrderBy" data-code="sharpe_1m"      data-direction="-" class="ordered_column">SR 1m</th>
                        <th width="5%" align="center" data-bind="click: changeOrderBy" data-code="sharpe_3m"      data-direction="-" class="ordered_column selected">SR 3m</th>

						<th width="4%" align="right"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: funds">
					<tr>
						<td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>

						<td data-bind="css: betaCss('beta_6m'),  text: beta_6m" align="center"></td>
                        <td data-bind="css: corCss('corr_6m', 'right-border'),  text: corr_6m" align="center"></td>

                        <td data-bind="css: perfCss('performance_1m', ''),             text: percentage('performance_1m')" align="center"></td>
						<td data-bind="css: perfCss('performance_3m', 'right-border'), text: percentage('performance_3m')" align="center"></td>

                        <td data-bind="css: volCss('volatility_1m', ''),             text: percentage('volatility_1m')" align="center"></td>
                        <td data-bind="css: volCss('volatility_3m', 'right-border'), text: percentage('volatility_3m')" align="center"></td>

                        <td data-bind="css: riskCss('sharpe_1m',    ''), text: sharpe_1m" align="center"></td>
                        <td data-bind="css: riskCss('sharpe_3m',    ''), text: sharpe_3m" align="center"></td>

						<td data-bind="click:addFavorite" align="right" class="favorite"><img src="{{ STATIC_URL }}/img/star.png" /></td>
				    </tr>
				</tbody>
			</table>
        </div>
	</div>
{% endblock %}


