{% extends "base.html" %}

{% block title %}Simulation | Alpha Plans{% endblock %}

{% block extra_header %}
    <script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
{% endblock %}

{% block content %}
	<!-- SIMULATION -->

    <div class="row section">
		<div class="buttons-bar">

            <ul class="nav nav-pills span4 no-margin-bottom">
                <li class="active"><a href="#" data-bind="click: changeSection" class="text-left" data-code="pool">Fund pool</a></li>
                <li><a href="#" data-bind="click: changeSection" class="text-left" data-code="sim">Simulation</a></li>
            </ul>

            <div data-bind="with: manager" class="btn-group padding-right">
                <button data-bind="text: name" class="btn btn-primary"></button>

                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul data-bind="foreach: $root.managers" class="dropdown-menu">
                    <li><a href="#" data-bind="click: changeManager, text: name" class="text-left"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-bind="visible: section_code() == 'pool'" class="funds span12 no-padding">
        <h3>Funds Pool</h3>

        <table>
            <thead>
            <tr>
                <th width="30%" align="left">Name</th>
                <th width="3%" align="left">Cat</th>

                <th width="6%" align="center" class="ordered_column">% 1m</th>
                <th width="6%" align="center" class="ordered_column">% 3m</th>
                <th width="6%" align="center" class="ordered_column right-border">% 6m</th>

                <th width="6%" align="center" class="ordered_column">Vol 1m</th>
                <th width="6%" align="center" class="ordered_column">Vol 3m</th>
                <th width="6%" align="center" class="ordered_column right-border">Vol 6m</th>

                <th width="6%" align="center" class="ordered_column">SR 1m</th>
                <th width="6%" align="center" class="ordered_column selected">SR 3m</th>
                <th width="6%" align="center" class="ordered_column">SR 6m</th>

                <th width="2%" align="right"></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: pool_funds">
            <tr>
                <td align="left"><a data-bind="attr: { href: url}, text:name" target="_blank"></a></td>
                <td align="left" data-bind="text:category"></td>

                <td data-bind="css: perfCss('performance_1m',  ''), text: percentage('performance_1m')" align="center"></td>
                <td data-bind="css: perfCss('performance_3m',  ''), text: percentage('performance_3m')" align="center"></td>
                <td data-bind="css: perfCss('performance_6m',  'right-border'), text: percentage('performance_6m')" align="center"></td>

                <td data-bind="css: volCss('volatility_1m', ''), text: percentage('volatility_1m')" align="center"></td>
                <td data-bind="css: volCss('volatility_3m', ''), text: percentage('volatility_3m')" align="center"></td>
                <td data-bind="css: volCss('volatility_6m', 'right-border'), text: percentage('volatility_6m')" align="center"></td>

                <td data-bind="css: riskCss('sharpe_1m', ''),  text: sharpe_1m"  align="center"></td>
                <td data-bind="css: riskCss('sharpe_3m', ''),  text: sharpe_3m"  align="center"></td>
                <td data-bind="css: riskCss('sharpe_6m', ''),  text: sharpe_6m"  align="center"></td>

                <td data-bind="click: togglePool" align="right" class="favorite"><img  data-bind="attr: { src: star_status}"/></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div data-bind="visible: section_code() == 'sim'" class="no-padding">

        <div data-bind="visible: show_error()" class="loading">
            <h3>Can't simulate. Please, correct your portfolio!</h3>
            <h4 data-bind="text:message"></h4>
        </div>

        <div data-bind="visible: show_loading()" class="loading">
            <h3>Please wait until simulation completes...</h3>
            <img src="{{ STATIC_URL }}img/loading.gif" />
        </div>

        <div data-bind="visible: sim_id()" id="simulation_section" >

            <div class="benchmark">
                <span class="cumulative-return"></span>
            </div>

            <div class="composition">
                <span class="current-composition">
                    <h3>Composition of this month</h3>

                    <span class="time"></span>
                    <span class="legend"><span class="title">% by asset class</span></span>
                </span>

                <span class="historical-composition">
                    <h3>Historical composition</h3>

                    <span class="time"></span>
                    <span class="legend"><span class="title">% by asset class</span></span>
                </span>
            </div>

            <div class="statistics">
                <h3>Simulation statistics</h3>

                <table class="first-col-stats">
                    <thead>
                    <tr>
                        <th class="name"></th>
                        <th class="value"></th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: first_stats">
                    <tr>
                        <td class="name" data-bind="text:name"></td>
                        <td class="value" data-bind="text:get_text()"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="second-col-stats">
                    <thead>
                    <tr>
                        <th class="name"></th>
                        <th class="value"></th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: second_stats">
                    <tr>
                        <td class="name" data-bind="text:name"></td>
                        <td class="value" data-bind="text:get_text()"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="performance">
                <h3>Monthly performance</h3>

                <table>
                    <thead>
                    <tr>
                        <th></th>

                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>

                        <th>Year</th>
                        <th>DD</th>

                    </tr>
                    </thead>
                    <tbody data-bind="foreach: monthly">
                    <tr>
                        <td data-bind="text:date"></td>

                        <td class="border-left" data-bind="css:perfCss(jan), text:percentage(jan)"></td>
                        <td data-bind="css:perfCss(feb), text:percentage(feb)"></td>
                        <td data-bind="css:perfCss(mar), text:percentage(mar)"></td>
                        <td data-bind="css:perfCss(apr), text:percentage(apr)"></td>
                        <td data-bind="css:perfCss(may), text:percentage(may)"></td>
                        <td data-bind="css:perfCss(jun), text:percentage(jun)"></td>
                        <td data-bind="css:perfCss(jul), text:percentage(jul)"></td>
                        <td data-bind="css:perfCss(aug), text:percentage(aug)"></td>
                        <td data-bind="css:perfCss(sep), text:percentage(sep)"></td>
                        <td data-bind="css:perfCss(oct), text:percentage(oct)"></td>
                        <td data-bind="css:perfCss(nov), text:percentage(nov)"></td>
                        <td data-bind="css:perfCss(dec), text:percentage(dec)"></td>

                        <td data-bind="css:perfCss(year), text:percentage(year)"></td>
                        <td data-bind="text:percentage(maxDD)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="weights">
                <h3>Monthly composition</h3>

                <ul class="months">
                    <li>Jan</li>
                    <li>Feb</li>
                    <li>Mar</li>
                    <li>Apr</li>
                    <li>May</li>
                    <li>Jun</li>
                    <li>Jul</li>
                    <li>Aug</li>
                    <li>Sep</li>
                    <li>Oct</li>
                    <li>Nov</li>
                    <li>Dec</li>
                </ul>

                <div class="columns">

                    <ul data-bind="foreach: years" class="years">
                        <li data-bind="text:year"></li>
                    </ul>
                    <div class="distribution"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


